
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes full height */
  }
  
  .page-grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Make the page grid take the remaining space */
  }
.sidebar {
    background-color: #2E616B;
    display: block;
    max-width: 380px;
    min-height: 100%;
    height: 100%;
    z-index: 99;
}
.logo_sidebar {
    width: 250px;
    margin: 50px 50px 40px 50px;
}

.navbar_list {
    color: #FCEDD4;
    font-family: 'Staatliches';
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 50px;
}
li {
    margin-top: 14px;
    max-width: 230px;
}
li:hover {
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s;
}
.li_selected {
    border-left: solid #D7E60F;
    padding: 5px;
    margin-left: -7px;
}
.li_selected:hover{
    margin-left: -7px;
}
.sidebar_line {
    color: #FCEDD4;
    border-style: dashed solid;
}
.sidebar_fb_ig {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.some_icon {
    width:40px
}
.some_text {
    font-family: 'Staatliches';
    color: #FCEDD4;
    float: right;
    font-size: 15px;
}
.bargroup_logo_flex {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.bargroup_logo {
    width: 130px;
}

.page-grid {
    display: grid;
    grid-template-columns: 380px 1fr;
    flex-direction: row;
    
}

.video-container {
    box-sizing: border-box;
    display: block;
    height: 70vh;
    width: 100%;
    overflow: hidden;
  }
  
  .introvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  section {
    position: relative;
    z-index: 1;
    color: white; /* Adjust as needed for text readability */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  