/* Variabler for tekst*/



body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes full height */
    scrollbar-color: #ffcc00 #333333; /* thumb color and track color */
    scrollbar-width: thin; /* makes the scrollbar thinner */
  }
  
  .page-grid {
    display: flex;
    flex-direction: row;
    flex-grow: 1; /* Make the page grid take the remaining space */
  }
.sidebar {
    background-color: #2E616B;
    max-width: 380px;
    min-height: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 10px 15px 29px 0px;
    /* Scrollbar styling */
    scrollbar-color: #fcedd4 #2E616B;
    scrollbar-width: thin;
}

/* Scrollbar styling for WebKit-based browsers */
.sidebar::-webkit-scrollbar {
    width: 6px; 
    height: 6px; /
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: #2E616B;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #fcedd4;
    border-radius: 10px;
    border: 2px solid ; 
  }
  
  .sidebar::-webkit-scrollbar-button {
    display: none; 
  }

.logo-sidebar {
    width: 250px;
    margin: 50px 50px 40px 50px;
}

.navbar-list {
    color: #FCEDD4;
    font-family: 'Staatliches';
    list-style-type: none;
    font-size: 25px;
    margin-bottom: 50px;
}
li {
    margin-top: 14px;
    max-width: 230px;
}
li:hover {
    cursor: pointer;
    margin-left: 5px;
    transition: 0.5s;
}
.li-selected {
    border-left: solid #D7E60F;
    padding: 5px;
    margin-left: -7px;
}
.li-selected:hover{
    margin-left: -7px;
}
.sidebar-line {
    color: #FCEDD4;
    border-style: dashed solid;
}
.sidebar-fb-ig {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
.some-icon {
    width:40px
}
.some-text {
    font-family: 'Staatliches';
    color: #FCEDD4;
    float: right;
    font-size: 15px;
}
.bargroup-logo-flex {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.bargroup-logo {
    width: 130px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-page::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-page {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}

.firma-arrangementer {
    padding: 5px 30px 0 30px;
    box-sizing: border-box;
    background-color: #fcedd4;
}

.button-firma {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.button-overst {
    background: #051424;
    border: none;
    padding: 13px;
    color: white;
    font-family: 'Staatliches';
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    transition: 0.70s;
}
.button-overst:hover {
    color: #D7E60F;
    transition: 0.70s;
}

.arrangement-details {
    display: flex;
    justify-content: space-between;
    background-color: #FCEDD4;
    padding: 0 30px 0 30px;
  }
  
  .firma-arrangementer-details,
  .dagsmøder-details {
    width: 45%;
  }
  
  .arrangement-details h2 {
    font-family: 'Staatliches';
    font-size: 24px;
    color: #051424;
    margin-bottom: 10px;
  }
  
  .arrangement-details p {
    font-family: 'Roboto';
    font-size: 16px;
    color: #051424;
    margin: 5px 0;
  }
  
  .arrangement-details .price {
    font-family: 'Roboto';
    font-size: 20px;
    color: #051424;
    font-weight: bold;
  }
  
  .price {
    color: #0073e6; /* Change to desired blue color */
  }


.content-page h1 {
    font-family: 'Staatliches';
    font-size: 40px;
    color: #051424;
    margin-top: 25px;
    margin-bottom: 0;
}

.content-page h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #D7E60F;
    margin-top: 30px;
}

.content-page p {
    font-family: 'Roboto';
    font-size: 20px;
    color: #051424;
   

}

.page-grid {
    display: grid;
    grid-template-columns: 367px 1fr;
    flex-direction: row;
    
}

.video-container {
    box-sizing: border-box;
    display: block;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #d7e60f;
  }
  
  .introvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  section {
    position: relative;
    z-index: 1;
    color: white; /* Adjust as needed for text readability */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

.footer {
    background-color: #051424;
    width: 100%;
    height: 500px;
    margin-bottom: -50px;
}
.footer-box {
    padding: 40px;
}
.footer-gasa-logo {
    width: auto;
    height: 50px;
    margin: 0 auto;
    display: block
}
.footer-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto 0 auto;
    max-width: 1280px;
    width: 100%;
}
.footer-h3 {
    color: white;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
}
.footer-text-icon {
    width: 20px;
    height: auto;
    float: left;
    margin-right: 5px;
}
.footer-text {
    color: white;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}
.footer-text-bold {
    font-weight: bolder;
}
.footer-kontrolrapport {
    width: 120px;
    height: auto;
}
.footer-evarto{
    width: 150px;
    height: auto;
}